
//CONFIGURACIONES GLOBALES DE MI APLICACIÓN

//Colors
$primary: #5292db;
$dark-grey: #2f4e72;
$light-grey: #d8d8d8;

//COLOR BOTON GOOGLE
$white: #fff;
$google-blue: #2d4b7d;
$button-active-blue: #1669f2;


